
<h2>Your Profile Page</h2>

<h3>Location: <%= profile.location %></h3>
<p>Bio: <%= profile.bio %></p>
<p>Experienced in: <%= profile.experience %></p>

<h3>Projects:</h3>

<!-- add forEach here to loop through existing projects -->
<% projects.forEach(function(project) { %>
	<a href="/projects/<%= project.id %>"><%= project.title %></a>
	<a href="/projects/<%= project.id %>/edit">Edit</a>&nbsp
	<a class= "delete" href="/projects/<%= project.id %>">Delete</a><br>
<% }); %>

<a href="/projects/new" class="btn btn-primary">Add Project</a>



