<h3>Edit Project:</h3>

<div class="row">
  <div class="col l12 display-box">
    <form action="/projects/<%= project.id %>" method="POST" class="edit-form">
      <div class="form-group">
        <label for="proj-title">Project Title</label>
        <input id="proj-title" class="form-control" type="text" name="title" value="<%= project.title %>" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control proj-desc" type="text" name="description" value="<%= project.description %>" required></textarea>
      </div>
      <div class="form-group">
        <label for="code">Code Snippets</label>
        <textarea id="code" class="form-control proj-code" type="text" name="code" value="<%= project.code %>">
        </textarea>
      </div>
      <button class="btn btn-primary right" type="submit">Save Changes</button>
    </form>
  </div>
</div>

<script>var projectData = <%- JSON.stringify(project) %>; </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/projectEdit.js"></script>