<div class="display-box">
  <h3><%= project.title %></h3>
  <h5>Project Idea By: <%= user.name %></h5>
  <p>Location: <%= project.location %></p>
  <p><%= project.description %></p>
  <% if(project.code) { %>
       <pre class="prettyprint">><%= project.code %></pre>
  <% } %>

  <p>Tags:</p>
  <% project.tags.forEach(function(tag){ %> 
    <p><%= tag.tagName %> </p>
  <% }); %>
</div>

<a class="btn blue right" href="mailto:<%= user.email %>?Subject=<%= project.title %> - Let's%20collaborate!">Collaborate!</a>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst""></script>