<div class="display-box project-show">
  <h3><%= project.title %></h3>
  <h5>Project Idea By: <%= user.name %></h5>
  <p>Posted: <%= project.createdAt %></p>
  <p>Address: <%= project.location %></p>
  <p><%= project.description %></p>
  <% if(project.code) { %>
       <pre class="prettyprint">><%= project.code %></pre>
  <% } %>

  <p>Tags:</p>
  <% project.tags.forEach(function(tag){ %> 
    <p class="tag"><%= tag.tagName %> </p>
  <% }); %>
</div>

<% if(currentUser !== user.id) { %>
  <a class="button-pair btn blue right" href="mailto:<%= user.email %>?Subject=<%= project.title %> - Let's%20collaborate!">Collaborate!</a>
<% } else { %>
  <div class="button-pair right">
    <a class="btn blue" href="/projects/<%= project.id %>/edit">Edit</a>&nbsp
	  <a class= "btn red delete" href="/projects/<%= project.id %>"><i class="material-icons">delete</i></a><br>
	</div>
<% } %>

<!-- <script src="/js/app.js"></script> -->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst""></script>