<h3><%= project.title %></h3>
<p><%= project.description %></p>
<p><%= project.code %></p>
<h3><%= project.lookingFor %></h3>

<p>Tags:</p>
<% project.tags.forEach(function(tag){ %> 
  <p><%= tag.tagName %> </p>
<% }); %>