<h2 class="center"><%= project.title %></h2>

  <% if(currentUser !== user.id) { %>
    <h5 class="center">Idea By: <a class="username" href="/user/<%= user.id %>"><%= user.name %></a></h5>
  <% } %>
<div class="display-box project-show">
  <p>Posted: <%= project.createdAt %></p>
  <p>Project Location: <%= project.location %></p>
  <h5>Description:</h5>
  <p><%= project.description %></p>
  <% if(project.code) { %>
       <pre class="prettyprint">><%= project.code %></pre>
  <% } %><br>

  <div class="row">
    <div class="col right">
      <% project.tags.forEach(function(tag){ %> 
        <p class="tag">#<%= tag.tagName %> </p>
      <% }); %>
    </div>
  </div>
</div>

<% if(currentUser !== user.id) { %>
  <a class="button-pair btn blue right" href="mailto:<%= user.email %>?Subject=<%= project.title %> - Let's%20collaborate!">Collaborate!</a>
<% } else { %>
  <div class="button-pair right">
    <a class="btn blue" href="/projects/<%= project.id %>/edit">Edit</a>&nbsp
	  <a class= "btn red delete" href="/projects/<%= project.id %>"><i class="material-icons">delete</i></a><br>
	</div>
<% } %>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst""></script>